//colors

$white: white;
$nav-red: rgba(162, 23, 35, 1);
$bg-tint-gray: rgba(0, 0, 0, .7);
$fb-blue: rgba(57, 87, 155, .6);
$rss-orange: rgba(255, 106, 0, .6);
$twitt-blue: rgba(45, 154, 222, .6);
$tube-red: rgba(215, 0, 26, .6);
$border-gray: rgba(115, 114, 113, 1);
